body {
    background-color: black;
    color: white;
    font-family: cursive;
    background-image: url('http://blog.hostbaby.com/backgrounds/bg_lightwoodfloor.jpg');
    /* width="350" alt="Free Webpage Backgrounds" /></a>" */
}

.top-flex-container {
    display: flex;
    flex-direction: column;
    /* height: 16vh; */
}

.middle-flex-container {
    display: flex;
    /* flex-direction: column; */
    /* height: 16vh; */
}

.bottom-flex-container {
    display: flex;
    flex-direction: column;
    /* background: #43812b; */
    /* flex-wrap: wrap;
    height: 75vh; */
    /* background-image: url("http://curlyjoe71.github.io/AALL-Monthly-Initiative-Leaderboard/assets/images/Survivor_AALL_Clipped.png"); */
    background-position: center;
    background-repeat: no-repeat;
}
/* assets\images\Survivor_clipped_rev_1.png */
.title {
    font-size: 30px;
    text-align: center;
    font-family: 'Luckiest Guy', sans-serif;
    margin-top: 10px;
    color: rgb(52, 199, 52);
    text-shadow: 3px 3px 3px rgb(65, 28, 4);
}

.topName {
    font-size: 20px;
    color: rgb(27, 170, 9);
    font: outline;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    /* -webkit-animation: glow 1s ease-in-out infinite 4s alternate;
    -moz-animation: glow 1s ease-in-out infinite 4s alternate;
    animation: glow 1s ease-in-out infinite 4s alternate; */
    margin: 5px;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc,
    5px 0 10px rgb(65, 28, 4), 5px 7px 10px rgb(65, 28, 4);

}

.topName:nth-child(2) {
  animation-delay: 4s;
}

.topName:nth-child(3) {
  animation-delay: 5s;
}
/* 
.topName:nth-child(3) {
  animation-delay: 8s;
} */
  
.topNameAnimation {
  -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate both;
  animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate both;
}

.topNameAnimation:nth-of-type(3) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.topNameAnimation:nth-of-type(2) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.topNameAnimation:nth-of-type(1) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.lowName {
    font-size: 22px;
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    /* -webkit-animation: text-blur-out 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) 5s infinite alternate both;
    animation: text-blur-out 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) 5s infinite alternate both; */
    -webkit-animation: text-shadow-drop-center 4s infinite alternate-reverse both;
    animation: text-shadow-drop-center 4s infinite alternate-reverse both;
    margin: 8px; 
}

.tribe {
  font-size: 19px;
  color: rgb(136, 223, 22);
}

.tribe-win {
  font-size: 22px;
  color: rgb(136, 223, 22);
}

hr {
  width: 80%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color:rgb(16, 39, 104);
  border: 0 none;
  margin-top: 10px;
  margin-bottom:10px;
  }

#winners {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 21px;
  color: white;
  font-family: 'Fredoka One', cursive;
  -webkit-animation: text-shadow-drop-center 4s infinite alternate-reverse both;
  animation: text-shadow-drop-center 4s infinite alternate-reverse both;
  /* height: 700px; */
}

.winners {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 21px;
  color: white;
  font-family: 'Fredoka One', cursive;
  -webkit-animation: text-shadow-drop-center 4s infinite alternate-reverse both;
  animation: text-shadow-drop-center 4s infinite alternate-reverse both;
}

.winners h1 {
  font-size: 27px;
  padding: 10px;
}

.winners h3 {
  font-size: 23px;
  padding: 10px;
}

.winners h4 {
  font-size: 20px;
  padding: 8px;
}

#winner1 {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 340px;
  width: 271px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url("../../assets/images/Winner1.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  border: thick double #7dce32;
  -webkit-animation: text-shadow-drop-center 4s infinite alternate-reverse both;
  animation: text-shadow-drop-center 4s infinite alternate-reverse both;
}

#winner2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 247px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url("../../assets/images/Winner2.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  border: thick double #7dce32;
}

#winner3 {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 227px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url("../../assets/images/Winner3.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  border: thick double #7dce32;
}

#winner4 {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 152px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url("../../assets/images/WinnerHonorable.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  border: thick double #7dce32;
}

.sub {
  font-size: 15px;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #43812b, 
        0 0 40px #43812b, 0 0 50px #43812b, 0 0 60px #43812b, 0 0 70px #43812b;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #51b80d, 0 0 30px #51b80d, 
        0 0 40px #51b80d, 0 0 50px #51b80d, 0 0 60px #51b80d, 0 0 80px #51b80d; 
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-9-3 10:52:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.2em;
    opacity: 1;
  }
  40% {
    opacity: 0.9;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.2em;
    opacity: 1;
  }
  40% {
    opacity: 0.9;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-8-30 10:25:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow:    
      0 0 0 rgba(0, 0, 0, 0),
      4px 2px 15px rgb(65, 28, 4), 
      4px 0px 15px rgb(65, 28, 4),
      5px 4px 15px rgb(65, 28, 4);
    }
    100% {
      text-shadow: 
      2px 2px 15px rgb(65, 28, 4), 
      4px 4px 15px rgb(65, 28, 4), 
      5px 5px 15px rgb(65, 28, 4),
      6px 6px 10px rgb(218, 69, 10);
    }
  }
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 
      0 0 0 rgba(0, 0, 0, 0),
      4px 2px 15px rgb(65, 28, 4), 
      4px 0px 15px rgb(65, 28, 4),
      5px 4px 15px rgb(65, 28, 4);
    }
    100% {
      text-shadow: 
      2px 2px 15px rgb(65, 28, 4), 
      4px 4px 15px rgb(65, 28, 4), 
      5px 5px 15px rgb(65, 28, 4),
      6px 6px 10px rgb(218, 69, 10);
    }
  }

  /* @media screen and (min-width: 320px) {
    .lowName {
      font-size: calc(20px + 10 * ((100vw - 320px) / 680));
    }
  }

  @media screen and (min-width: 100px) {
    .lowName {
      font-size: 30px;
    }
  } */